*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 1rem;
  font-family: sans-serif, Arial, Helvetica;
}
img {
  border-style: none;
  max-width: 100%;
  height: auto;
}
table {
  border-collapse: collapse;
}

.search-form {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (min-content) [4];
  grid-template-rows: repeat(4, min-content);
  grid-template-areas:
    'age'
    'price'
    'content'
    'table';
  grid-gap: 40px;
}
.search-form__age {
  grid-area: age;
}
.search-form__price {
  grid-area: price;
}
.search-form__content {
  grid-area: content;
}
.search-form__table {
  grid-area: table;
  position: relative;
}
.slide-item {
  padding: 25px 30px;
}
.slide-item--age {
  background-color: #044d80;
}
.slide-item--price {
  background-color: #01af4e;
}
.slide-item__label {
  color: #fff;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.search-form__image-container {
  background-color: #c7e2f3;
  display: none;
}
.search-form__img {
  margin: -30px 0 -30px -40px;
  position: relative;
  z-index: 2;
}
.search-btn {
  border: 3px solid #000;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.4rem;
  padding: 25px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.search-btn:hover {
  background-color: #fafafa;
}

/* Custom Slider Styles */
.noUi-connects,
.noUi-target,
.noUi-handle {
  border-radius: 0;
}
.noUi-target,
.noUi-handle {
  border: none;
  box-shadow: none;
}
.noUi-horizontal {
  height: 8px;
}
.noUi-handle {
  background-color: #cc3789;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
}
.noUi-handle:after,
.noUi-handle:before {
  display: none;
}
.noUi-horizontal .noUi-handle {
  height: 35px;
  top: -13px;
}
#slide-age .noUi-handle {
  width: 35px;
}
#slide-price .noUi-handle {
  width: 60px;
}
#slide-price .noUi-handle {
  right: -40px;
}

.noUi-connect {
  background-color: #f7c1d8;
}
#slide-age {
  background-color: #417abf;
}
#slide-price {
  margin-right: 23px;
  background-color: #00e164;
}

.table-container {
  border-radius: 10px;
  border: 1px solid #d2d2d2;
  overflow: hidden;
  min-width: 500px;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
}
.table {
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
}
.table small {
  font-weight: 400;
}
.table th,
.table td {
  padding: 10px 15px;
  border: 1px solid #d2d2d2;
}
.table th {
  border-top: none;
  background-color: #ffcf00;
}
.table th:first-child {
  border-top-left-radius: 8px;
  text-align: right;
}
.table th:first-child,
.table td:first-child {
  border-left: none;
}
.table th:last-child {
  border-top-right-radius: 8px;
}
.table th:last-child,
.table td:last-child {
  border-right: none;
}
.table tr:last-child td {
  border-bottom: none;
}
.table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
.table td:last-child {
  text-align: center;
  font-weight: 400;
}

/* Utilities */
.bb-none {
  border-bottom: none !important;
}
.bt-none {
  border-top: none !important;
}
.bg-gray {
  background-color: #f3f3f3;
}
.bg-drk-gray {
  background-color: #ebebeb;
}

@media (max-width: 991px) {
  .slide-item__label {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .search-form {
    margin-top: 50px;
    max-width: 1024px;
    -ms-grid-columns: 1fr 1fr 300px;
    grid-template-columns: 1fr 1fr 300px;
    -ms-grid-rows: min-content 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      'age price content'
      'table table content';
    grid-gap: 30px;
  }
  .slide-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slide-item__slider {
    margin-left: 50px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
  .search-form__image-container {
    display: block;
  }
  .search-form__content {
    padding-left: 30px;
  }
}
@media (min-width: 1260px) {
  .search-form {
    max-width: 1200px;
  }
}
